@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

body{
  padding: 0;
  margin: 0;
}

.appContainer {
  width: 98%;
  margin: auto;
}

a {
  color: transparent;
  text-align: none;
}

/* dashboard */
.dashboardContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3.5fr 1fr;
  height: calc(100vh - 2rem);
  gap: 8px;
}

.slider {
  width: 100%;
  position: sticky;
  display: grid;
  grid-template-rows: 1fr 4fr .5fr;
  height: 100vh;
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
}

.profileName {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
  margin-top: 10px;
  color: var(--text-700);
}

.profileWork {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 5px 0;
  color: var(--text-400);
}

.navbarList {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbarList a {
  width: 100%;
  height: 2.8rem;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin: 10px 0;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 15px;
  transition: all .3s;
  cursor: pointer;
}

.navbarList a:hover {
  background-color: var(--bg-color-warm);
}

.navbarList a.active {
  background-color: var(--bg-color);
}

.iconAndNameContainer {
  display: flex;
  align-items: center;
}

.navbarList a p {
  font-size: 1.03rem;
  color: var(--text-400);
  transition: all .3s;
}

.navbarList a.active p {
  color: #fff;
}

.navbarList a.active span {
  width: 1px;
  height: 50%;
  border-radius: 10px;
  background-color: #fff;
}

.iconContainer {
  margin-right: 5px;
  font-size: 1.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--text-400);
  transition: all .3s;
}

.navbarList a.active .iconContainer {
  color: #fff;
}

.singOut {
  width: 100%;
  height: 2.8rem;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin: 10px 0;
  box-sizing: border-box;
  padding: 0 15px;
  background-color: transparent;
  border: none;
  color: red;
  font-weight: 600;
  cursor: pointer;
}

.iconContainerSingOut {
  margin-right: 5px;
  font-size: 1.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  color: red;
}

.hotels {
  width: 100%;
  height: calc(100vh - 2rem);
  border-radius: 20px;
  background-color: var(--bg-color-warm);
  margin: 10px;
  box-sizing: border-box;
  padding: 20px;
}

.hotelsHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerSearch {
  display: flex;
  align-items: center;
  height: 2.4rem;
  flex-direction: row-reverse;
}

.hotelFilterSearchList.open .headerSearch {
  width: 100%;
}

.destination {
  display: flex;
  height: 100%;
  background-color: #fff;
  padding: 0 10px;
  align-items: center;
  border-radius: 30px;
  border: 1px solid var(--text-400);
  margin-right: 10px;
}

.destination input {
  font-size: .9rem;
  border: none;
  outline: none;
}

.searchIconContainer {
  font-size: 1.2rem;
  color: var(--text-400);
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.hotelFilterSearchList {
  display: flex;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid var(--bg-color);
  width: 100%;
  height: 3rem;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--bg-color);
  transition: all .5s;
}

.hotelFilterSearchItem {
  display: flex;
  align-items: center;
  transition: all .7s;
  margin: 0 3px;
  position: relative;
}

.searchButton {
  margin: 0;
  margin-left: 8px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.8rem;
  height: 2.3rem;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  font-size: 1.4rem;
  color: var(--bg-color);
  cursor: pointer;
}

.hotelFilterSearchItem p {
  font-size: .9rem;
  margin: 2px 3px;
  color: var(--text-400);
  font-weight: 500;
}

.hotelFilterSearchItem span {
  font-size: .7rem;
  margin: 2px 3px;
  color: var(--text-400);
  font-weight: 200;
}

.hotelFilterSearchItem .icon {
  font-size: .9rem;
  margin: 2px 3px;
  color: var(--text-400);
  margin-left: 5px;
}

.hotelsHeaderTitles h2 {
  margin: 0;
  color: var(--text-700);
}

.hotelsHeaderTitles p {
  margin: 5px 0;
  font-size: .9rem;
  color: var(--text-400);
}

.date {
  position: absolute;
  top: 40px;
}

.gustOptionsList,
.gustOptionsListPrice {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 5px;
  background-color: #fff;
  border-radius: 8px;
  position: absolute;
  top: 40px;
}

.guestOptionsItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}

.guestOptionsItem p {
  color: var(--text-700);
  font-size: .8rem;
}

.guestOptionsItemButtons {
  display: flex;
  align-items: center;
}

.guestOptionsItemButtons p {
  color: var(--text-400);
}

.minus,
.plus {
  margin: 0 2px;
  width: 1.5rem;
  height: 1.3rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  color: var(--text-400);
  font-size: .7rem;
  border: none;
  cursor: pointer;
}

.hotelsList {
  width: 100%;
  height: calc(100% - 3rem);
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  overflow: auto;
  scrollbar-color: var(--bg-color) #f6f6f6;

}

.hotelItem {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotelItem.selectedHotel {
  background-color: #d7d7d7;
}

.hotelItem img {
  width: 100%;
  height: 13rem;
  object-fit: cover;
  border-radius: 7px;
}

.hotelName {
  margin: 5px 0;
  color: var(--text-400);
  font-size: .9rem;
}

.hotelPrice {
  margin: 0;
  font-size: .8rem;
  color: var(--text-500);
}

.hotelPrice span {
  font-size: .6rem;
  color: var(--text-500);
}

.location {
  margin: 0;
  color: var(--text-400);
}

.location span {
  margin-left: 5px;
  font-size: .7rem;
}

.location .icon {
  font-size: .7rem;
}

/* single hotel */
.singleHotel {
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0 10px 8px;
  overflow: auto;
  scrollbar-width: none;
}

.images {
  width: 100%;
}

.indexImage {
  width: 100%;
  height: 10rem;
}

.indexImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.hotelImages {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  margin-top: 8px;
}

.hotelImages img {
  width: 100%;
  height: 4rem;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.hotelDetails {
  width: 100%;
}

.headerSingleHotelDesc {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid var(--text-400);
}

.headerSingleHotelDescLinkItem {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.headerSingleHotelDescLinkItem p {
  color: var(--text-400);
  text-align: center;
  transition: all .3s;
  font-size: .95rem;
  font-weight: 400;
  margin: 10px 0;
}

.headerSingleHotelDescLinkItem p.active {
  color: var(--text-700);
}

.indecator {
  width: 100%;
  height: 1px;
  background-color: var(--text-400);
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  transition: all .3s;
}

.indecator.active {
  background-color: var(--text-700);
  height: 2px;
}

.hotelDetailsTitle {
  font-size: .85rem;
  color: var(--text-400);
  text-align: justify;
}

.mapContainer {
  width: 100%;
  height: 10rem;
  border-radius: 8px;
  overflow: hidden;
}

.map {
  width: 100%;
  height: 100%;
  z-index: -3;
}

.addToWallet {
  background-color: var(--bg-color);
  border: none;
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  color: #fff;
  margin: 10px 0;
}

.addNewHotelMap {
  grid-column: 2/-1;
}

.indexImageAddHotel {
  height: 13rem;
}

.hotelImagesAddHotel img {
  height: 7rem;
  cursor: pointer;
}

.addNewHotel form {
  width: 100%;
}

.addNewHotel form input {
  width: 100%;
  height: 3rem;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 6px 8px;
  background-color: var(--bg-color-warm);
  outline: none;
  border: none;
  margin: 8px 0;
}

.addNewHotel form button {
  width: 100%;
  height: 3rem;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 4px 6px;
  background-color: var(--bg-color);
  color: white;
  border: none;
  outline: none;
}

.addNewHotel form div{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.addUrlImageContainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .3);
  z-index: 300;
}

.addUrlImage{
  width: 40%;
  padding: 8px 9px;
  background-color: #fff;
  border-radius: 8px;
}

.addUrlImage input{
  width: 100%;
  padding: 8px 9px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 8px;
  margin: 5px 0;
}

.addUrlImage button{
  width: 100%;
  padding: 8px 9px;
  background-color: var(--bg-color);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}

.removeHotel{
  width: 100%;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #fff;
  background-color: #e33a3a;
  border: none;
  border-radius: 8px;
  margin-top: 3px;
  cursor: pointer;
}

/* login page */

.loginContainer{
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color-warm);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContainer form{
  padding: 10px 12px;
  background-color: #fff;
  border-radius: 8px;
}

.loginItemContainer{
  width: 18rem;
  height: 3rem;
  box-sizing: border-box;
  margin: 26px 0;
}

.loginLabale{
  font-size: .9rem;
  color: var(--text-700);
  margin-top: 8px;
}

.inputContainer{
  width: 100%;
  height: 3rem;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-color: var(--bg-color-warm);
  border-radius: 7px;
  margin: 6px 0;
  box-sizing: border-box;
}

.inputContainer button{
  font-size: 1.1rem;
  color: var(--text-700);
  margin-left: 5px;
  background-color: transparent;
  border: none;
}

.inputContainer input{
  width: 100%;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: var(--bg-color-warm);
}

.loginContainer form .loginBtn{
  width: 100%;
  height: 3rem;
  border: none;
  cursor: pointer;
  background-color: var(--bg-color);
  color: #fff;
  font-size: 1rem;
  border-radius: 7px;
  margin-top: 26px;
}